# Preprocessing Workflow

üéØ This exercise will guide you through the preprocessing workflow. Step by step, feature by feature, you will investigate the dataset and take preprocessing decisions accordingly.

üå§ We stored the `ML_Houses_dataset.csv` [here](https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/ML_Houses_dataset.csv) in the cloud.

üëá Run the code down below to load the dataset and features you will be working with.

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate, cross_val_score

# Loading the dataset
url = "https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/ML_Houses_dataset.csv"
data = pd.read_csv(url)

# Selecting some columns of interest
selected_features = ['GrLivArea',
                     'BedroomAbvGr',
                     'KitchenAbvGr', 
                     'OverallCond',
                     'RoofSurface',
                     'GarageFinish',
                     'CentralAir',
                     'ChimneyStyle',
                     'MoSold',
                     'SalePrice']

# Overwriting the "data" variable to keep only the columns of interest
# Notice the .copy() to copy the values 
data = data[selected_features].copy()

# Showing the first five rows
data.sample(10)

,GrLivArea,BedroomAbvGr,KitchenAbvGr,OverallCond,RoofSurface,GarageFinish,CentralAir,ChimneyStyle,MoSold,SalePrice
1416,2290,4,2,6,3764.0,Unf,Y,?,4,122500
219,1248,2,1,5,4179.0,Fin,Y,?,3,167240
763,2365,3,1,5,1436.0,RFn,Y,?,7,337000
831,1200,2,1,5,4126.0,RFn,Y,?,6,151000
835,1067,2,1,7,2450.0,Unf,Y,?,2,128000
366,1394,3,1,5,4923.0,RFn,Y,?,7,159000
734,948,3,1,5,5039.0,Unf,Y,?,5,108000
1551,1575,2,1,5,4489.0,RFn,Y,?,7,179200
1091,1252,2,1,5,4127.0,Unf,Y,?,3,160000
1155,1437,3,1,8,4760.0,RFn,Y,?,7,218000

üìö Take the time to do a ***preliminary investigation*** of the features by reading the ***dataset description*** available [here](https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/ML_Houses_dataset_description.txt). Make sure to refer to it throughout the day.

## (1) Duplicates

‚ÑπÔ∏è ***Duplicates in datasets cause data leakage.*** 

üëâ It is important to locate and remove duplicates.

‚ùì How many duplicated rows are there in the dataset ‚ùì

<i>Save your answer under variable name `duplicate_count`.</i>

In [2]:
# YOUR CODE HERE

duplicate_count = data.duplicated().sum()
duplicate_count

300

‚ùì Remove the duplicates from the dataset. Overwite the dataframe `data`‚ùì

In [3]:
# YOUR CODE HERE

data = data.drop_duplicates()
data.duplicated().sum()

0

üß™ **Test your code**

In [4]:
from nbresult import ChallengeResult

result = ChallengeResult('duplicates',
                         duplicates = duplicate_count,
                         dataset = data
)

result.write()
print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/ricorenzo/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/ricorenzo/code/renzorico/data-preprocessing-workflow/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 2 items

test_duplicates.py::TestDuplicates::test_dataset_length PASSED           [ 50%]
test_duplicates.py::TestDuplicates::test_duplicate_count PASSED          [100%]

============================== 2 passed in 0.41s ===============================


üíØ You can commit your code:

git add tests/duplicates.pickle

git commit -m 'Completed duplicates step'

git push origin master

In [5]:
!git add .

!git commit -m 'Completed duplicates steppp'

!git push origin master

[master e320b45] Completed duplicates steppp
 1 file changed, 156 insertions(+), 23 deletions(-)
Enumerating objects: 5, done.
Counting objects: 100% (5/5), done.
Delta compression using up to 8 threads
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 654 bytes | 654.00 KiB/s, done.
Total 3 (delta 2), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To github.com:renzorico/data-preprocessing-workflow.git
   df45118..e320b45  master -> master

## (2) Missing data

‚ùì Print the percentage of missing values for every column of the dataframe. ‚ùì

In [6]:
# YOUR CODE HERE

missing_values = data.isnull().sum().sort_values()/len(data)
missing_values_percentage = missing_values * 100
missing_values_percentage

GrLivArea       0.000000
BedroomAbvGr    0.000000
KitchenAbvGr    0.000000
OverallCond     0.000000
CentralAir      0.000000
ChimneyStyle    0.000000
MoSold          0.000000
SalePrice       0.000000
RoofSurface     0.616438
GarageFinish    5.547945
dtype: float64

### `GarageFinish`

‚ùì **Questions** about `GarageFinish` ‚ùì

Investigate the missing values in `GarageFinish`. Then, choose one of the following solutions:

1. Drop the column entirely
2. Impute the column median using `SimpleImputer` from Scikit-Learn
3. Preserve the NaNs and replace them with meaningful values

Make changes effective in the dataframe `data`.

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è According to the dataset description, the missing values in `GarageFinish` represent a house having no garage. They need to be encoded as such.
</details>

In [7]:
# YOUR CODE HERE

data.GarageFinish.replace(np.nan, "NoGarage", inplace=True)

### `RoofSurface`

‚ùì **Questions** about `RoofSurface` ‚ùì

Investigate the missing values in `RoofSurface`. Then, choose one of the following solutions:

1. Drop the column entirely
2. Impute the column median using sklearn's `SimpleImputer`
3. Preserve the NaNs and replace them with meaningful values

Make changes effective in the dataframe `data`.

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è `RoofSurface` has a few missing values that can be imputed by the median value.
</details>

In [16]:
# YOUR CODE HERE

data  = data.dropna(subset=['RoofSurface'])
data.head()

,GrLivArea,BedroomAbvGr,KitchenAbvGr,OverallCond,RoofSurface,GarageFinish,CentralAir,MoSold,SalePrice
0,1710,3,1,5,1995.0,RFn,Y,2,208500
1,1262,3,1,8,874.0,RFn,Y,5,181500
2,1786,3,1,5,1593.0,RFn,Y,9,223500
3,1717,3,1,5,2566.0,Unf,Y,2,140000
4,2198,4,1,5,3130.0,RFn,Y,12,250000

### `ChimneyStyle`

‚ùì **Questions** about `ChimneyStyle` ‚ùì

Investigate the missing values in `ChimneyStyle`. Then, choose one of the following solutions:

1. Drop the column entirely
2. Impute the column median
3. Preserve the NaNs and replace them with meaningful values

Make changes effective in the dataframe `data`.

<details>
    <summary>üí° <i>Hint</i></summary>
    
* ‚ö†Ô∏è Be careful: not all missing values are represented as `np.nans`, and Python's `isnull()` only detects `np.nans`...
    
* ‚ÑπÔ∏è `ChimneyStyle` has a lot of missing values. The description does not touch on what they represent. As such, it is better not to make any assumptions and to drop the column entirely.
    

</details>

In [9]:
# YOUR CODE HERE

data.drop(columns='ChimneyStyle', inplace=True)

/tmp/ipykernel_17703/3989418296.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns='ChimneyStyle', inplace=True)

üß™ **Test your code**

In [13]:
from nbresult import ChallengeResult

result = ChallengeResult('missing_values',
                         dataset = data
)

result.write()
print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/ricorenzo/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/ricorenzo/code/renzorico/data-preprocessing-workflow/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 2 items

test_missing_values.py::TestMissing_values::test_nans PASSED             [ 50%]
test_missing_values.py::TestMissing_values::test_number_of_columns PASSED [100%]

============================== 2 passed in 0.41s ===============================


üíØ You can commit your code:

git add tests/missing_values.pickle

git commit -m 'Completed missing_values step'

git push origin master

In [14]:
!git add .

!git commit -m 'Completed missing_values step'

!git push origin master

On branch master
nothing to commit, working tree clean
Everything up-to-date

In [17]:
!git status

On branch master
nothing to commit, working tree clean

‚ùì When you are done with handling missing value, print out the percentage of missing values for the entire dataframe ‚ùì

You should no longer have missing values !

In [14]:
# YOUR CODE HERE

missing_values = data.isnull().sum().sort_values()/len(data)
missing_values.keys()
data.select_dtypes(include=(int,float))

,GrLivArea,BedroomAbvGr,KitchenAbvGr,OverallCond,RoofSurface,MoSold,SalePrice
0,1710,3,1,5,1995.0,2,208500
1,1262,3,1,8,874.0,5,181500
2,1786,3,1,5,1593.0,9,223500
3,1717,3,1,5,2566.0,2,140000
4,2198,4,1,5,3130.0,12,250000
...,...,...,...,...,...,...,...
1755,2073,3,1,6,2645.0,2,210000
1756,1125,2,1,5,NaN,4,155000
1757,1640,3,1,5,1449.0,12,173000
1758,2229,5,1,6,1529.0,7,104000
1759,672,2,1,8,4473.0,8,108000

## (3) Scaling

**First of all, before scaling...**

To understand the effects of scaling and encoding on model performance, let's get a **base score without any data transformation**.

‚ùì Cross-validate a linear regression model that predicts `SalePrice` using the other features ‚ùì

‚ö†Ô∏è Note that a linear regression model can only handle numeric features. [DataFrame.select_dtypes](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.select_dtypes.html) can help.

In [21]:
# YOUR CODE HERE
X = data[['SalePrice']]
y = data['GrLivArea', 'BedroomAbvGr', 'KitchenAbvGr', 'OverallCond', 'MoSold', 'RoofSurface']
model = LinearRegression()

cv = cross_val_score(model,X,y).mean()

KeyError: ('GrLivArea', 'BedroomAbvGr', 'KitchenAbvGr', 'OverallCond', 'MoSold', 'RoofSurface')

Keep this score in mind! You will train a new model after data preprocessing in Challenge #2 - see if it improves your average score üòâ

üöÄ Now, back to **feature scaling**!

###  `RoofSurface`

‚ùì **Question** about `RoofSurface` ‚ùì

üëá Investigate `RoofSurface` for distribution and outliers. Then, choose the most appropriate scaling technique. Either:

1. Standard Scaler
2. Robust Scaler
3. MinMax Scaler

Replace the original columns with the transformed values.

In [ ]:
# YOUR CODE HERE

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è Since `RoofSurface` has neither a Gaussian distribution, nor outliers $\rightarrow$ MinMaxScaler.
</details>

### `GrLivArea`

‚ùì **Question** about `GrLivArea` ‚ùì

üëá Investigate `GrLivArea` for distribution and outliers. Then, choose the most appropriate scaling technique. Either:

1. Standard Scaler
2. Robust Scaler
3. MinMax Scaler

Replace the original columns with the transformed values.

In [ ]:
# YOUR CODE HERE

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è `GrLivArea` has many outliers $\rightarrow$ RobustScaler()
</details>

### `BedroomAbvGr` ,  `OverallCond` & `KitchenAbvGr`

‚ùì **Questions** about `BedroomAbvGr`, `OverallCond` & `KitchenAbvGr` ‚ùì

üëá Investigate `BedroomAbvGr`, `OverallCond` & `KitchenAbvGr`. Then, chose one of the following scaling techniques:

1. MinMax Scaler
2. Standard Scaler
3. Robust Scaler

Replace the original columns with the transformed values.

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è `BedroomAbvGr` ,  `OverallCond` & `KitchenAbvGr` are ordinal features. There are less than 0.1% of outliers so no need to use _RobustScaler()_. The distribution is not Gaussian, hence no _StandardScaler()_. By elimination, you can confidently choose _MinMaxScaler()_.
</details>

In [ ]:
data.describe()

In [ ]:
# YOUR CODE HERE

üß™ **Test your code**

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('scaling',
                         dataset = data
)

result.write()
print(result.check())

## (4) Feature Encoding

### `GarageFinish`

‚ùì **Question** about `GarageFinish`‚ùì

üëá Investigate `GarageFinish` and choose one of the following encoding techniques accordingly:
- Ordinal encoding
- One-Hot encoding

Add the encoding to the dataframe as new colum(s), and remove the original column.

<details>
    <summary>üí° <i>Hint</i></summary>
        
‚ÑπÔ∏è `GarageFinish` is a multicategorical feature that should be One-hot-encoded. You could also consider an Ordinal Encoding but we would have to know for sure that Unfinished or no garage are definitely worse that rough finished!
</details>

In [ ]:
# YOUR CODE HERE

In [ ]:
GarageFinish_ohe.get_feature_names_out()

### Encoding  `CentralAir`

‚ùì **Question** about `CentralAir`‚ùì

Investigate `CentralAir` and choose one of the following encoding techniques accordingly:
- Ordinal encoding
- One-Hot encoding

Replace the original column with the newly generated encoded columns.

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è `CentralAir` is a binary categorical feature.
</details>

In [ ]:
# YOUR CODE HERE

## (5) Feature Engineering

### `MoSold` - Cyclical engineering

üë®üèª‚Äçüè´ A feature can be numerical (continuous or discrete), categorical or ordinal. But a feature can also be temporal (e.g. quarters, months, days, minutes, ...). 

Cyclical features like time need some specific preprocessing. Indeed, if you want any Machine Learning algorithm to capture this cyclicity, your cyclical features must be preprocessed in a certain way.

üëâ Consider the feature `MoSold`, the month on which the house was sold.

In [ ]:
data["MoSold"].value_counts()

* Many houses were sold in June (6), July (7) and May (5) (Spring/Summer)
* Only a few houses were sold in December (12), January (1) and February (2) (~ Fall/Winter)
    * But for any Machine Learning model, there is no reason why December (12) and January (1) would be "close"...

üë©üèª‚Äçüè´ ***How to deal with cyclical features?***

1.  Look at the following illustration and read the explanations to distinguish two different months.

<img src="https://wagon-public-datasets.s3.amazonaws.com/05-Machine-Learning/02-Prepare-the-dataset/cyclical_feature_engineering.png" alt="Cyclical features" width="1000">


2. Read this [article](https://ianlondon.github.io/blog/encoding-cyclical-features-24hour-time/) for more details.

‚ùì **Question** about `MoSold` ‚ùì 
- Create two new features `sin_MoSold` and `cos_MoSold` which correspond respectively to the sine and cosine of MoSold.
- Drop the original column `MoSold`

<details>
    <summary>üí° <i>Hint</i></summary>
    
To create a time engineered feature based on a column which gives the second in the day!
```python
seconds_in_day = 24*60*60

df['sin_time'] = np.sin(2*np.pi*df.seconds/seconds_in_day)
df['cos_time'] = np.cos(2*np.pi*df.seconds/seconds_in_day)
df.drop(columns=['seconds'], inplace=True)

df.head()
```


</details>

In [ ]:
# YOUR CODE HERE

üß™ **Test your code**

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('encoding', dataset = data, new_features = ['sin_MoSold', 'cos_MoSold'])

result.write()
print(result.check())

## (6) Export the preprocessed dataset

üëá Now that the dataset has been preprocessed, execute the code below to export it. You will keep working on it in the next exercise.

In [ ]:
data.to_csv("data/clean_dataset.csv", index=False)

üèÅ Congratulations! Now, you know how to ***preprocess a dataset*** !

üíæ Don't forget to git add/commit/push your notebook...

üöÄ ... and move on to the next challenge!